*.dat
*.log
*.png
*.jpg
*.gif
*.jpeg
*.zip
*.sql
*.db
*.sh
*.psd
*.bac
*.bak
*.bak.*
*.swf
*~
*.save
*.patch
*.gz
*.bz
*.xz
*.7z
*.tgz
.*
*.mp3
*.ogg
*.m4a
*.wav
*.aac
*.ogv
*.mp4
*.mkv
*.webm
*.3gp
*.wma
*.min.js
*.pyc
*.pyo

Settings.php
Settings_bak.php
Config.php
attachments/
Skins/
dev
informer
/test/
*.kdev4
.kdev4/
.DS_Store

YaBBImages/
YaBBImages_xmas/
YaBBImages_std/

35cffc2e45e75319980061a17e79df73/
NewsPHP_ReadMe.txt
blocked.html
chatOps.txt
chatUsers.txt
chatVoices.txt
crossdomain.xml
dojo-observer.js
dojo.js
/google*
helpadmin.help
/js/
licence.txt
nbproject/
radioinfo.txt
radioinfo.xml
rss-ticker/
ssi_examples.shtml
statdir/
stats/
test1.js
testsound.php
twitter-async/
yabbinfo.xml
yandex*
radio/listen/
jPlayer/
radio/beta/
radio/Test/
radio/Recordings/
radio/chat/sse.html
sendmailtest.php
phpversion.php
Skins/.default
Skins/DzhYn-Mobile/
Skins/Mobile-Experimental-Dzhyn/
/oauth/server/INSTALL
/oauth/server/cache/templates_c
/oauth/server/www
php_errors.log
