[Unit]
Description=Simple websocket push server.
After=network.target syslog.target local-fs.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 -m socket2ws /opt/socket2ws/config.json
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
