article > h2.windowbg,
article > div.article-info {
    background-color: #C8C8C8;
}

a.nav-item {
    background-color: #C8C8C8;
    color: #000000;
}
a.nav-item:visited {
    color: #000000;
}
a.nav-item:link {
    color: #000000;
}

a.nav-item.current,
nav.cats-menu li > a.current,
a.nav-item:hover {
    background-color: #a0a0a0;
    opacity: unset;
}
